<div class="min-h-screen bg-gradient-to-br from-yellow-100 via-orange-50 to-red-100">
    <app-header [selectedIngredients]="selectedIngredients()" [selectedDeliveryType]="selectedDeliveryType()"
        (closeChip)="handleCloseChip($event)" (reset)="resetFilters()">
    </app-header>
    <div class="max-w-7xl mx-auto px-4 py-6">
        <div class="flex justify-center items-center gap-3 mb-8">
            <input type="text" placeholder="Search your recipe or cuisine here" [value]="searchText()"
                (input)="searchText.set($any($event.target).value)"
                class="w-full max-w-lg px-4 py-3 rounded-xl border border-orange-300 focus:outline-none focus:ring-2 focus:ring-orange-500" />
        </div>
        @if(loader()){
        <app-loader></app-loader>
        }
        @else{
        <div class="modal-body" infinite-scroll [scrollWindow]="true" [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="200" (scrolled)="onScrollDown()">
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                @for (recipe of filteredRecipes(); track recipe.id) {
                <app-recipes-card [recipe]="recipe">
                    <h2 class="text-xl font-semibold">
                        {{ recipe.name }}
                    </h2>
                    <button hoverZoom [routerLink]="['/recipe', recipe.id]"
                        class="bg-red-700 text-white cursor-pointer px-6 py-2 rounded-full font-semibold transition-all duration-300">
                        View Recipe
                    </button>
                </app-recipes-card>
                }
            </div>
        </div>
        }
    </div>
</div>