<app-recipes-card>
  <ng-content header><i class="pi pi-truck"></i>
    Ingredient Delivery Type
  </ng-content>

  <ng-content>
    @for (option of deliveryTypes; track option.name) {
      <label
        (click)="deliveryTypeSelectHandler(option.name)"
        [ngClass]="{
          'bg-orange-200 border-orange-400': isSelected(option.name),
          'bg-orange-50 border-orange-200': !isSelected(option.name)
        }"
        class="flex cursor-pointer items-center gap-3 rounded-2xl border px-5 py-3 transition-colors hover:bg-orange-100"
      >
        <i [class]="option.icon + ' text-orange-600'"></i>
        <span class="font-medium text-orange-700">
          {{ option.name }}
        </span>
      </label>
    }
  </ng-content>
</app-recipes-card>
