/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'primeicons/primeicons.css';

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff7ed;
    border-radius: 9999px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background: #f97316;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ea580c;
}
